* {
  font-family: Sora;
  color: #1f2937;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to bottom, #f9fafb, #b0f2ff);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

header {
  width: 100vw;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.header {
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 40px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f9fafb;
}

.mae {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cima {
  display: flex;
  height: 50%;
  width: 89%;
  gap: 50px;
}

ul {
  width: 15%;
  display: flex;
  justify-content: center;
}

ul a {
  font-size: 1.8rem;
  word-spacing: 0.2rem;
  color: #374151;
  transition: 0.4s;
}

ul a:hover {
  color: #10D3F9;
  transition: 0.4s;
  transform: translateY(-2px);
}

.user_div {
  height: 5vh;
  width: 20%;
  display: flex;
  justify-content: space-betwee;
  align-items: center;
}

.img {
  background-image: url(../assets/icon/user-solid\ 1.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 30%;
  height: 100%;
}


.user_name {
  font-size: 1.8rem;
  word-spacing: 0.2rem;
  color: #374151;
}

.sair {
  width: 8%;
  height: 4vh;
  border-radius: 10px;
  background: linear-gradient(to bottom, #740bc6, #10d3f9);
  color: white;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}

.sair:hover {
  transform: translateY(-2px);
  transition: 0.4s;
  box-shadow: 0 4px 8px rgba(116, 11, 198, 0.3);
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 80%;
  height: 90%;
  display: flex; 
  flex-direction: column;

}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.table-wrapper {
  flex-grow: 1; 
  overflow-y: auto; 
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #f8f8f8; 
  position: sticky;
  top: 0; 
  z-index: 10;
  padding: 10px; 
  text-align: left; 
}


td {
  padding: 10px; 
  border-bottom: 1px solid #eee; 
}


.alerta-critico {
  color: #CD3030;
  font-weight: 500;
}

.alerta-moderado {
  color: #FFA100;
  font-weight: 500;
}

.alerta-critico td:nth-child(4) { 
    color: red;
    font-weight: bold;
}

.alerta-moderado td:nth-child(4) { 
    color: orange;
    font-weight: bold;
}

.tempo {
  color: #ff5252;
  font-weight: 500;
}

/* kpis */
.kpis-container {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  height: 90%;
  font-size: 18px;
}

.kpis-coluna {
  width: 260px;
  height: 100%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;

}

.kpis-coluna div {
  margin: 12px 0;

}

.titulo {
  padding: 10px;
  font-size: 25px;
  font-weight: 800;

}

.status-critico-titulo {
  border-bottom: 2px solid #e0e0e0;
  padding: 10px;
  color: #CD3030;
  font-size: 25px;
  font-weight: 800;
}

.status-moderado {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 800;
}

.nmr-titulo {
  border-bottom: 2px solid #e0e0e0;
  padding: 10px;
  font-size: 30px;
  font-weight: 800;
}


.vermelho-titulo {
  color: red;
  font-weight: bold;
  border-bottom: 2px solid #e0e0e0;
  padding: 10px;
  font-size: 30px;
  font-weight: 800;
}

.nmr {
  font-weight: bold;
}



.bottom-layout {
  display: flex;
  height: 50%;
  width: 89%;
  gap: 50px;
}

/* desempenho */
.card-desempenho {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 50%;
  height: 91%;
  padding: 15px;
  font-size: 20px;
  display: flex; 
  flex-direction: column;

}

.table-wrapper-desempenho {
  flex-grow: 1; 
  overflow-y: auto; 
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

thead {
  border-bottom: 2px solid #e0e0e0;
}

thead th {
  text-align: center;
  padding: 9px;
  font-weight: 600;
  color: #333;
  font-size: 18px;
}

tbody td {
  padding: 14px;
  border-bottom: 1px solid #f0f0f0;
  text-align: center;
  font-size: 20px;
}

.red-text {
  color: red;
  font-weight: 600;
}

/* grafico */
.grafico-container {
  width: 50%;
  background-color: #ffff;
  border-radius: 15px;
  height: 91%;

}

.grafico-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25%;
  padding: 20px;
}

.grafico-titulo {
  font-size: 22px;
  margin: 0;
}


#containerGrafico {
  width: 100%;
  height: 75%;
  padding: 20px;
}

.grafiquinho {
  width: 100%;
}

@media (max-width: 768px) {
  .header {
    align-items: center;
    gap: 1rem;
    height: 6vh;
  }

  .user_div {
    width: 80%;
    justify-content: center;
    gap: 8px;
  }

  .user_name {
    font-size: 1rem;
  }

  ul {
    width: 80%;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
  }

  ul a {
    font-size: 1rem;
  }

  .sair {
    width: 300px;
    font-size: 1rem;
  }

  main {
    /* border: 1px solid red; */
    height: 160vh;
  }
}