/* Breakpoint para celular */
html {
    scroll-behavior: smooth;
}

.no-mobile {
    display: none;
}

.bg {
    background-image: url(../assets/imgs/background_Inicial.png);
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 100%;
}

main {
    width: 90%;

    display: flex;
    justify-self: center;
    flex-direction: column;
}

.titulo {
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;

    font-size: 45px;
}

.text-gradient {
    background: rgb(116,11,198);
    background: linear-gradient(298deg, rgba(116,11,198,1) 41%, rgba(16,211,249,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

.logo {
    margin-top: 5px;
}

.logo img {
    width: 80px;
}

.desktop-nav {
    display: none;
}

.menu-hamburger {
    position: fixed;
    font-size: 3rem;
    cursor: pointer;
    z-index: 98;
    right: 10px;
}

.mobile-nav {
    position: fixed;
    height: 100vh;
    width: 80vw;
    background-color: white;
    top: 0;
    right: -80vw;

    z-index: 99;
    border: 1px solid #d1d5db;

    transition: all .5s;
}

.mobile-nav.open {
    top: 0;
    right: 0;
}

.mobile-nav .nav-opcoes {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;

    justify-content: space-around;
    align-items: center;

    font-size: large;
    font-weight: 500;
}

.mobile-nav .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #d1d5db;
}

.mobile-nav .mobile-header #close {
    font-size: 2.5rem;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.mobile-nav .mobile-header .logo img {
    width: 100px;
}

.mobile-nav .nav-btns {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    gap: 10px;
}

.mobile-nav .nav-btns a {
    color: white;
    font-size: 22px;
}

.container-hero {
    margin-top: 10px;
    margin: 0 0 10rem 0;
}

.container-hero h2 {
    background: rgb(116,11,198);
    background: linear-gradient(176deg, rgba(116,11,198,1) 41%, rgba(16,211,249,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
}

.hero-btn {
    width: 60%;
    font-size: 1.3rem;
}

.work-image {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.work-image img {
    width: 90%;
    margin: auto;
}

.quem-somos {
    margin-top: 60px;
    font-weight: 500;
}

.quem-somos .titulo {
    font-size: 38px;
}

.traco-1 img, .traco-2 img  {
    width: 200px;
    padding: 10px;
}

.container-hero3 {
  display: flex;
  flex-direction: column;  
  gap: 50px;
}

.card {
    background-color: #d9d9d956;
    border-radius: 10px;
    padding: 3rem 2rem;

    position: relative;
    box-shadow: 1px 1px 15px #1118274b;
    text-align: justify;
}

.card .titulo {
    position: absolute;
    top: -25px;
}

.contact-title-container {
    width: fit-content;
    margin: auto;
}

.contact-image {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
}

.contact-image img {
    width: 60%;
}

.contact-title {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.contato-email {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: right;
    margin-right: 5px
}

#textoEmail {
    border: none;
    outline: none;
    box-shadow: 1px 1px 15px #1118274b;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    
    margin-top: 10px;
    resize: none;

    padding: 10px;
}

#enviarEmail {
    margin-top: 10px;
    margin-bottom: 40px;
}

.size-card {
    font-size: 22px;
}

.card b {
    font-size: 22px;
}

.card span {
    font-size: 22px;
}

.caixa-texto2 {
    display: flex;
    flex-direction: column;

}


/* Breakpoint para tablet */
@media screen and (min-width: 480px) and (max-width: 1023px) {}

/* Breakpoint para Desktop */
@media screen and (min-width: 1024px) {
    main {
        width: 80%;
    }


    .no-mobile {
        display: block;
    }

    .menu-hamburger {
        display: none;
    }

    .mobile-nav {
        display: none;
    }

    .desktop-header {
        display: flex;
        width: 100%;
    }

    .desktop-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;
        width: 100%;
    }


    .nav-opcoes {
        display: flex;
        width: max-content;
        width: 100%;
        justify-content: space-evenly;
    }

    .nav-opcoes a {
        font-size: 20px;
        font-weight: 600;
    }


    .nav-btns {
        display: flex;
        gap: 30px;
    }

    .nav-btns .login-btn {
        width: 60%;
    }

    .nav-btns a {
        color: white;
        font-size: 22px;
    }

    a {
        color: rgb(25, 7, 139);
    }

    .container-hero {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80vh;
    }

    .container-hero .left_side {
        width: 60%;
    }

    .infrawatch {
        font-size: 90px;
    }

    .container-hero h2 {
        font-size: 60px;
    }

    .container-hero .hero-btn {
        margin: 2rem 0;
        width: 50%;
        border-radius: 10px;
        height: 5rem;
        font-size: 32px;
    }

    .container-hero3 {
        display: flex;
        flex-direction: row;
    }

    .container-hero4 {
        display: flex;
        justify-content: space-evenly;
    }

    .container-hero4 .card {
        max-width: 40%;
        height: fit-content;
    }

    .container-hero5 {
        margin: 10rem 0 0 0;
        display: flex;
        justify-content: space-between;
    }

    .container-hero5 .boxes{
        width: 50%;
    }

    .quem-somos-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-top: 50px;
    }

    .quem-somos-container .server-image {
        width: 50%;
    }

    .card {
        max-width: 30%;
    }


    .quem-somos {
        max-width: 40%;
        height: fit-content;
        font-size: 22px;
        text-align: justify;
    }
    
    
    .quem-somos .titulo {
        top: -30px;
        font-size: 50px;
    }

    .traco-1 {

        display: flex;
        justify-content: center;
        align-items: center;

    }

    .traco-1 img  {
        width: 300px;
        padding: 15px;
        margin-top: -120px;
        margin-left: 350px;
    }

    .traco-2 img  {
        width: 300px;
        padding: 10px;
        margin-left: 100px;
    }

}

@keyframes aparecer-btn-top-page {
    from {
        opacity: 0;
        translate: 0 100vh;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

.btn-top-page {
    display: flex;
    color: white;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    background-color: rgba(16,211,249,1);
    border-radius: 20px;
    box-shadow: 4px 4px 0 rgb(10, 126, 149);
    cursor: pointer;
    height: 80px;
    width: 80px;
    position: fixed;
    animation: aparecer-btn-top-page 1s ease-in-out;
    font-weight: 600;
    margin-top: 80vh;
    margin-left: 92vw;
    animation-timeline: view();
    animation-range: cover 0% cover 100%;
}

.btn-top-page:hover {
    opacity: 1;
    color: white;
    transform: scale(1.3);
}