* {
    font-family: Sora;
    color: #1f2937;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    overflow: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #F9FAFB, #B0F2FF)
}

header {
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 40px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F9FAFB;
}

.user_div {
    height: 5vh;
    width: 20%;
    display: flex;
    justify-content: space-betwee;
    align-items: center;
}

.img {
    background-image: url(../assets/icon/user-solid\ 1.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
    height: 100%;
}

.user_name {
    font-size: 1.8rem;
    word-spacing: 0.2rem;
    color: #374151;
}

ul {
    width: 15%;
    display: flex;
    justify-content: center;
}

ul a {
    font-size: 1.8rem;
    word-spacing: 0.2rem;
    color: #374151;
    transition: 0.4s;
}

ul a:hover {
    color: #10D3F9;
    transition: 0.4s;
    transform: translateY(-2px);
}

.sair {
    width: 8%;
    height: 4vh;
    border-radius: 10px;
    background: linear-gradient(to bottom, #740bc6, #10d3f9);
    color: white;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
    transition: 0.4s;
  }
  
  .sair:hover {
    transform: translateY(-2px);
    transition: 0.4s;
    box-shadow: 0 4px 8px rgba(116, 11, 198, 0.3);
  }

.insight-container {
    display: flex;
    width: 100%;
    height: 75vh;
    /* border: 1px solid; */
    justify-content: center;
}

.bcentral {
    display: flex;
    width: 90%;
    height: 100%;
    /* border: 1px solid red; */
}

.besquerda {
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    /* border: 1px solid blue; */

}

.tipo-componente-dis {
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    /* border: 1px solid green; */
}

.tipo-componente {
    display: flex;
    width: 100%;
    height: 70%;
    align-items: center;
    /* border: 1px solid green; */
}

.tipo-componente h1 {
    font-size: 80px;
}

.gprocessos {
    display: flex;
    flex-direction: row;
    /* border: 1px solid; */
    width: 95%;
    height: 78%;
    background-color: #F9FAFB;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.graficopro {
    display: flex;
    width: 80%;
    height: 100%;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
}

.select-comppro {
    display: flex;
    /* border: 1px solid red; */
    width: 20%;
    height: 50%;
    justify-content: center;
    align-items: center;
}

.select-comppro select {
    display: flex;
    width: 80%;
    height: 15%;
    border-radius: 10px;
    cursor: pointer;
}

.bdireita {
    display: flex;
    /* border: 1px solid red; */
    flex-direction: column;
    height: 100%;
    width: 65%;
}

.boxcimadis {
    display: flex;
    width: 100%;
    height: 20%;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
}

.boxcima {
    display: flex;
    width: 100%;
    height: 85%;
    /* border: 1px solid; */
}

.cimaesc {
    display: flex;
    height: 100%;
    width: 55%;
    /* border: 1px solid green; */
    justify-content: space-around;
    align-items: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F9FAFB;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    width: 35%;
    height: 85%;
    border-radius: 10px;
}

.card h3 {
    text-align: center;
}

.cimadir {
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    width: 45%;
    height: 100%;
}

.boxFiltros {
    display: flex;
    /* border: 1px solid green; */
    width: 90%;
    height: 50%;
    justify-content: space-around;
    align-items: center;
}

.boxFiltros select {
    width: 40%;
    height: 40px;
    border-radius: 10px;
    background-color: #F9FAFB;
    cursor: pointer;

}

.galertas {
    background-color: #F9FAFB;
    display: flex;
    width: 99.2%;
    height: 78%;
    /* border: 1px solid; */
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);

}

.filtros-graficos-alertas {
    display: flex;
    width: 100%;
    height: 15%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    gap: 10px;
    padding-right: 10px;
}

.filtros-graficos-alertas select {
    width: 20%;
    height: 30px;
    border-radius: 10px;
    background-color: #F9FAFB;
    cursor: pointer;

}