* {
    font-family: Sora;
    color: #1f2937;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #F9FAFB, #B0F2FF)
}

header {
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 40px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F9FAFB;
}

.user_div { 
    height: 5vh;
    width: 20%;
    display: flex;
    justify-content: space-betwee;
    align-items: center;
}

.img {
    background-image: url(/public/assets/icon/user-solid\ 1.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
    height: 100%;
}

.user_name {
    font-size: 1.8rem;
    word-spacing: 0.2rem;
    color: #374151;
}

ul {
    width: 15%;
    display: flex;
    justify-content: center;
}

ul a {
    font-size: 1.8rem;
    word-spacing: 0.2rem;
    color: #374151;
}


.sair {
    width: 8%;
    height: 4vh;
    border-radius: 10px;
    background: linear-gradient(to bottom, #740BC6, #10D3F9);
    color: white;
    font-size: 1.6rem;
    border: none;
}





.insight-container {
    display: flex;
    width: 90%;
    height: 75vh;
    margin: auto;
    padding-top: 2rem;
}

.esquerda {
    height: 100%;
    width: 30%;

}

.direita {
    /* background-color: #ff00d4; */
    height: 100%;
    width: 60%;
}

.meio {
    width: 10%; 
}

.card-componente{
    font-size: 7rem;
    font-weight: 500;
    color: black;
    height: 20%;
}

.graficoProcessos{
    display: flex;
    background-color: #ffffff;
    height: 80%;
    width: 100%;
    padding: 1.5rem;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    box-shadow: 5px 5px 10px #777777;      
    z-index: 1;
}

.escolha-componente {
    background-color: #ffffff;
    height: 80%;
    width: 70%;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    box-shadow: 5px 5px 10px #777777;      
    z-index: 1;
}

.meio .btn {
    width: 80%;
    padding: 1rem 1.5rem;
    background: #Ffff;
    color: #6B7280;
    border-color: #C5C5C5;
    border-radius: 12px;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: 1rem;
}

.meio .btn:hover {
    transform: translateY(-2px);
}

.kpi-e-filtro {
    display: flex;
    justify-content: space-evenly;
    background-color: #0077b6;
}

.filtro {
    display: flex;
    gap: 1rem;
    justify-self: end;
    padding: 0 1rem;
}
.kpi-filtro-wrapper {
    /* background-color: #10D3F9; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 2rem;
  }
  
  .kpi-container {
    display: flex;
    gap: 1rem;
  }
  
  .kpi-card {
    background: white;
    padding: 0.8rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
    width: 40%;
    height: 100%;
    text-align: center;
  }
  
  .kpi-card h3 {
    font-size: 1.3rem;
    margin: 0;
    color: #333;
  }
  
  .kpi-card p {
    margin: 0.3rem 0 0;
    font-size: 1.4rem;
    color: #0077b6;
    font-weight: bold;
  }
  
  .filtro-container {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
 
  .filtro select {
    padding: 0.4rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    min-width: 130px;
  }
  
  .filtro-grafico {
    /* background-color: #740BC6; */
    height: 5%;
  }

  .filtro-e-grafico {
    background-color: #740BC6;
    height: 80%;
  }

  .graficoAlerta {
    height: 100%;
    background-color: #10D3F9;
  }




