* {
    font-family: Sora;
    color: #1f2937;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    overflow-x: hidden;
}


body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #f9fafb, #b0f2ff);
}

header {
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 40px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f9fafb;
    overflow: hidden;
}

ul {
    width: 15%;
    display: flex;
    justify-content: center;
}

ul a {
    font-size: 1.8rem;
    word-spacing: 0.2rem;
    color: #374151;
    transition: 0.4s;
}

ul a:hover {
    color: #10D3F9;
    transition: 0.4s;
    transform: translateY(-2px);
}

.user_div {
    height: 5vh;
    width: 20%;
    display: flex;
    justify-content: space-betwee;
    align-items: center;
}


.user_name {
    font-size: 1.8rem;
    word-spacing: 0.2rem;
    color: #374151;
}

.sair {
    width: 8%;
    height: 4vh;
    border-radius: 10px;
    background: linear-gradient(to bottom, #740bc6, #10d3f9);
    color: white;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}

.sair:hover {
    transform: translateY(-2px);
    transition: 0.4s;
    box-shadow: 0 4px 8px rgba(116, 11, 198, 0.3);
}

main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 155vh;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: space-evenly;
}

.box {
    display: flex;
    /* border: 1px solid; */
    width: 90%;
    height: 75%;
    justify-content: space-between;
}

.bEsq {
    display: flex;
    /* border: 1px solid; */
    width: 37%;
    height: 99.5%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.kpis {
    display: flex;
    border: solid 1px;
    width: 100%;
    height: 45%;
}

.regiao {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    width: 100%;
    height: 50%;
}

.gRegiao {
    display: flex;
    border-radius: 10px;
    width: 97%;
    height: 100%;
    background-color: white;
}

.bDir {
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    width: 60%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.gPeriodo {
    display: flex;
    /* border: 1px solid; */
    border-radius: 10px;
    width: 97%;
    height: 50%;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 3%;
}

.gDisc {
    display: flex;
    border-radius: 10px;
    width: 97%;
    height: 40%;
    background-color: white;
    justify-content: center;
        padding: 1%;

}

.box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid; */
    width: 92%;
    height: 22%;
}

.lProcessos {
    display: flex;
    border-radius: 10px;
    width: 97%;
    height: 97%;
    background-color: white;
}