* {
    font-family: Sora;
    color: #1f2937;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    overflow-x: hidden;
}


body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #f9fafb, #b0f2ff);
}

header {
    width: 100vw;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 40px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f9fafb;
    overflow: hidden;
}

ul {
    width: 15%;
    display: flex;
    justify-content: center;
}

ul a {
    font-size: 1.8rem;
    word-spacing: 0.2rem;
    color: #374151;
    transition: 0.4s;
}

ul a:hover {
    color: #10D3F9;
    transition: 0.4s;
    transform: translateY(-2px);
}

.user_div {
    height: 5vh;
    width: 20%;
    display: flex;
    justify-content: space-betwee;
    align-items: center;
}


.user_name {
    font-size: 1.8rem;
    word-spacing: 0.2rem;
    color: #374151;
}

.sair {
    width: 8%;
    height: 4vh;
    border-radius: 10px;
    background: linear-gradient(to bottom, #740bc6, #10d3f9);
    color: white;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}

.sair:hover {
    transform: translateY(-2px);
    transition: 0.4s;
    box-shadow: 0 4px 8px rgba(116, 11, 198, 0.3);
}

main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 87vh;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: space-evenly;
}

.box {
    display: flex;
    /* border: 1px solid; */
    width: 90%;
    height: 100%;
    justify-content: space-between;
}

.bEsq {
    display: flex;
    /* border: 1px solid; */
    width: 37%;
    height: 99.5%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.kpis {
    display: flex;
    /* border: solid 1px; */
    width: 100%;
    height: 45%;
    flex-direction: column;
}

.dSelects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 23%;

}

.dSelects select {
    display: flex;
    width: 45%;
    height: 55%;
    text-align: center;
    border: 1px solid rgb(167, 166, 166);
    border-radius: 8px;
    cursor: pointer;
}


.dqtdAlert {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid; */
    width: 100%;
    height: 38%;
}

.dqtdAlert .card {
    display: flex;
    width: 32%;
    height: 70%;
    background-color: white;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(167, 166, 166);
    border-radius: 8px;
    flex-direction: column;
    transition: 0.4s;
}

.dqtdAlert .card p {
    font-size: 0.9rem;
}

.card:hover {
    transform: translateY(-6px);
    transition: 0.4s;
    box-shadow: 0 4px 8px rgba(116, 11, 198, 0.3);
}

.dPlus {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid; */
    width: 100%;
    height: 38%;
}

.dPlus .cplus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32%;
    height: 70%;
    background-color: white;
    border: 1px solid rgb(167, 166, 166);
    border-radius: 8px;
    transition: 0.4s;
}

.dPlus .cplus p {
    font-size: 0.9rem;
}

.cplus:hover {
    transform: translateY(-6px);
    transition: 0.4s;
    box-shadow: 0 4px 8px rgba(116, 11, 198, 0.3);
}

.regiao {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    width: 100%;
    height: 50%;
}

.gRegiao {
    display: flex;
    border-radius: 10px;
    width: 97%;
    height: 100%;
    background-color: white;
}

.bDir {
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    width: 60%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.gPeriodo {
    display: flex;
    /* border: 1px solid; */
    border-radius: 10px;
    width: 97%;
    height: 50%;
    background-color: white;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    transition: 0.4s;
        cursor: pointer;

}

.gPeriodo:hover {
    transform: translatey(-3px);
    transition: 0.4s;
}

.gDisc:hover {
    transform: translatey(-3px);
    transition: 0.4s;
}

.gDisc {
    display: flex;
    border-radius: 10px;
    width: 97%;
    height: 43%;
    background-color: white;
    justify-content: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    transition: 0.4s;
    cursor: pointer;
}

/* Tablets */
@media (max-width: 1024px) {

    .header {
        align-items: center;
        padding: 20px;
        height: auto;
        gap: 15px;
        text-align: center;
        height: 6vh;
    }

    .user_div {
        width: 100%;
        justify-content: center;
        gap: 10px;
    }

    .user_name {
        font-size: 1.3rem;
    }

    ul {
        width: 100%;
        justify-content: center;
    }

    ul a {
        font-size: 1.3rem;
    }

    .sair {
        width: 400px;
        height: 35px;
        font-size: 1.3rem;
    }

    main {
        /* border: 1px solid red; */
        height: 190vh;
    }

    .box {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .bEsq,
    .bDir {
        width: 95%;
    }

    .bDir {
        /* border: 1px solid; */
        gap: 6%;
        height: 90%;
    }

    .bEsq {
        justify-content: center;
        height: 80%;
    }

    .kpis {
        /* border: 1px solid; */
        height: 35%;
    }

    .dSelects {
        height: 30%;
        gap: 0.8rem;
    }

    .dSelects select {
        width: 90%;
        height: 38%;
    }

    .dqtdAlert,
    .dPlus {
        height: 30%;
        gap: 0.8rem;
    }

    .dqtdAlert .card,
    .dPlus .cplus {
        width: 90%;
        height: auto;
        padding: 1rem 0;
    }

    .gPeriodo,
    .gDisc {
        height: 45vh;
        width: 97%;
    }

    .regiao {
        /* border: 1px solid; */
        height: 50vh;
    }

}


/* Smartphones (até 768px) */
@media (max-width: 768px) {
    .header {
        align-items: center;
        gap: 1rem;
        height: 6vh;
    }

    .user_div {
        width: 80%;
        justify-content: center;
        gap: 8px;
    }

    .user_name {
        font-size: 1rem;
    }

    ul {
        width: 80%;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
    }

    ul a {
        font-size: 1rem;
    }

    .sair {
        width: 300px;
        font-size: 1rem;
    }

    main {
        /* border: 1px solid red; */
        height: 160vh;
    }

    .box {
        flex-direction: column;
        align-items: center;
        /* border: 1px solid; */
        gap: 0.9rem;
        height: 100%;
    }

    .bEsq,
    .bDir {
        width: 100%;
        gap: 1rem;
        padding: 0 1rem;
    }

    .kpis {
        flex-direction: column;
        gap: 1.2rem;
        height: 80%;
        padding: 0 1rem;
    }

    .dSelects,
    .dqtdAlert,
    .dPlus {
        flex-direction: column;
        gap: 1rem;
    }

    .dSelects select,
    .dqtdAlert .card,
    .dPlus .cplus {
        width: 100%;
        height: auto;
        padding: 0.5rem;
        font-size: 0.8rem;
    }

    .gPeriodo,
    .gDisc,
    .regiao {
        width: 100%;
        height: 40vh;
    }
}