* {
  font-family: Sora;
  color: #1f2937;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body,
html {
  overflow: hidden;
}

body {
  background: linear-gradient(to bottom, #F9FAFB, #B0F2FF)
}

header {
  width: 100vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  width: 90%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 40px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F9FAFB;
}

.user_div {
  height: 5vh;
  width: 20%;
  display: flex;
  justify-content: space-betwee;
  align-items: center;
}

.img {
  background-image: url(../assets/icon/user-solid\ 1.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 30%;
  height: 100%;
}

.user_name {
  font-size: 1.8rem;
  word-spacing: 0.2rem;
  color: #374151;
}

ul {
  width: 15%;
  display: flex;
  justify-content: center;
}

ul a {
  font-size: 1.8rem;
  word-spacing: 0.2rem;
  color: #374151;
  transition: 0.4s;
}

ul a:hover {
  color: #10D3F9;
  transition: 0.4s;
  transform: translateY(-2px);
}


.sair {
  width: 8%;
  height: 4vh;
  border-radius: 10px;
  background: linear-gradient(to bottom, #740bc6, #10d3f9);
  color: white;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}

.sair:hover {
  transform: translateY(-2px);
  transition: 0.4s;
  box-shadow: 0 4px 8px rgba(116, 11, 198, 0.3);
}

.body-container {
  display: flex;
  height: 100vh;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}


.container {
  width: 89%;
  height: 80%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
}

.nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

button {
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  background: linear-gradient(to bottom, #740BC6, #10D3F9);
  color: white;
}

.add {
  height: 4vh;
  background: #24284B;
  color: white;
}



input {
  height: 3vh;
}

.pesquisa {
  padding: 15px 1px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

table {
  width: 100%;

}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;

}

.nivel {
  display: flex;
  justify-content: center;
}

/* Dialog */

.conteudo {
  padding: 40px;
  transition: filter 0.3s ease;
}

.embaçado {
  filter: blur(5px);
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 30px;
  border: none;
  border-radius: 16px;
  box-shadow: 0 0 0 2px #4e89ff66;
  background-color: white;
  width: 45%;
  max-width: 90%;
}

/* deixa um pouco mais escuro o fundo  */
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

button {
  cursor: pointer;
}


.titulo {
  text-align: center;
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #374151;
}


#conteudo {
  display: flex;
  gap: 20px;
  /*  Espaço entre as duas colunas */
  margin-bottom: 30px;
}

#esquerda,
#direita {
  flex: 1;
  /* Dividir espaço igualmente*/
  display: flex;
  flex-direction: column;
}


label {
  font-size: 14px;
  font-weight: 500;
  color: #374151;
  margin-bottom: 5px;
  margin-top: 10px;
}


input,
select {
  padding: 10px 12px;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  font-size: 14px;
  background-color: #f9f9f9;
  color: #374151;
  transition: border-color 0.5s;
}

/* Muda borda quando estamos na input */
input:focus,
select:focus {
  outline: none;
  border-color: #4e89ff;
  background-color: #fff;
}

.botaoPrincipal {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(to right, #00b4ff, #8a2be2);
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.botaoPrincipal:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


#fecharDialogo {
  display: none;
}